* {
	box-sizing: border-box;
	&:not(input), &:not(textarea) {
		-webkit-user-select: none;
	}
}

html, body {
	height: 100%;
	width: 100%;
}

*:focus {
	outline: 0;
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: @openSans;
	padding-top: 35px;
	font-size: 18px;
	background: url(../img/bg.png);
	overflow: hidden;
	&.dragging {
		canvas {
			cursor: -webkit-grabbing;
		}
	}
}

canvas {
	cursor: -webkit-grab;
	position: fixed;
	top: 35px;
	left: 0;
	z-index: 1;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.85);
	width: 100%;
	height: 100%;
	z-index: 6;
	&.hidden {
		opacity: 0;
	}
	&.invisible {
		display: none;
	}
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	.translate(-50%, -50%);
	width: 500px;
	background: @white;
	border-radius: 3px;
	.BoxShadowHelper(2);
	padding: 10px;
	z-index: 7;
	p {
		margin: 0;
	}
	h2 {
		margin-top: 0;
		text-align: center;
		span.subtitle {
			display: block;
			font-style: italic;
			font-size: 14px;
			font-weight: 300;
		}
	}
	label {
		display: block;
		margin-bottom: 5px;
		text-transform: uppercase;
		font-size: 14px;
	}
	input, input:not(:last-child), select, select:not(:last-child) {
		margin-bottom: 25px;
	}
	select {
		height: auto;
	}
	footer {
		span {
			cursor: default;
			display: inline-block;
			height: 40px;
			line-height: 40px;
			padding: 0 10px;
			background: @turquoise;
			color: @white;
			border-radius: 3px;
			i {
				margin-right: 10px;
			}
		}
	}
	.control {
		.clearfix();
		input {
			float: left;
			width: 90%;
			&:focus + span {
				background: @turquoise;
			}
		}
		span {
			float: left;
			display: block;
			width: 10%;
			height: 35px;
			line-height: 35px;
			text-align: center;
			background: @silver;
			color: @white;
		}
	}
}

#splash {
	position: fixed;
	z-index: 6;
	top: 35px;
	left: 0;
	width: 100%;
	height: calc(~"100% - 35px");
	background: @midnightBlue;
	text-align: center;
	opacity: 0;
	.transition(all 150ms ease-out);
	&.shown {
		opacity: 1;
	}
	&.gone {
		display: none;
	}
	.content {
		position: absolute;
		top: 50%;
		.translate(0, -50%);
		left: 0;
		width: 100%;
		opacity: 0;
		.transition(all 150ms ease-out);
		&.shown {
			opacity: 1;
		}
	}
	h2 {
		color: @white;
		margin-top: 0;
		font-size: 32px;
		font-weight: 300;
	}
	span {
		.size(250px, 50px);
		line-height: 50px;
		margin: 0 7px;
		display: inline-block;
		background: @white;
		.BoxShadowHelper();
		text-align: center;
		-webkit-user-select: none;
		cursor: default;
		&:hover {
			background: @silver;	
		}
	}
	.icon {
		.size(42px, 49px);
		position: absolute;
		top: 50%;
		left: 50%;
		.translate(-50%, -50%);
		opacity: 0;
		.transition(all 150ms ease-out);
		&.shown {
			opacity: 1;
		}
	}
	i {
		color: @white;
		font-size: 48px;
	}
}

#menu-bar {
	background: @midnightBlue;
	width: 100%;
	height: 35px;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-app-region: drag;
	.clearfix();
	z-index: 7;
	user-select: none;
	h1 {
		margin: 0;
		padding: 0 0 0 15px;
		color: @white;
		font-size: 16px;
		font-weight: 300;
		float: left;
		line-height: 35px;
	}
	.controls {
		position: absolute;
		right: 0;
		top: 0;
		.clearfix();
		background: @midnightBlue;
		span {
			display: block;
			line-height: 35px;
			width: 45px;
			text-align: center;
			color: @white;
			-webkit-app-region: no-drag;
			float: right;
			&.close {
				&:hover {
					background: @pomegranate;
				}
			}
			&.maximize {
				&:hover {
					background: @wetAsphalt;
				}
				i.fa-clone {
					display: none;
					font-size: 14px;
				}
				i.fa-square-o {
					display: inline;
					font-size: 15px;
				}
				&.maximized {
					i.fa-clone {
						display: inline;
					}
					i.fa-square-o {
						display: none;
					}
				}
			}
			&.minimize {
				i {
					position: relative;
					top: 6px;
				}
				&:hover {
					background: @wetAsphalt;
				}
			}
		}
	}
}

#tool-bar {
	position: fixed;
	top: 45px;
	left: 15px;
	z-index: 3;
	span.menu, span.node-menu {
		background: @white;
		.BoxShadowHelper();
		display: block;
		.square(30px);
		text-align: center;
		line-height: 30px;
		.transition(all 50ms ease-out);
		position: absolute;
		top: 0;
		left: 0;
		&:hover, &.open {
			background: @silver;
		}
		i {
			.transition(all 150ms ease-out);
			position: absolute;
		}
		i.fa-bars, i.fa-plus {
			opacity: 1;
			top: 7px;
			left: 7px;
		}
		i.fa-plus {
			left: 8px;
		}
		i.fa-times {
			opacity: 0;
			font-size: 23px;
			top: 4px;
			left: 6px;
			.rotate(-45deg);
		}
		&.open {
			i.fa-bars, i.fa-plus {
				opacity: 0;
				.rotate(45deg);
			}
			i.fa-times {
				opacity: 1;
				.rotate(0);
			}
		}
	}
	.dropdown, .node-dropdown {
		padding: 3px 0;
		-webkit-user-select: none;
		.BoxShadowHelper(2);
		width: 250px;
		.transition(all 150ms ease-out);
		.translate(0, -10px);
		opacity: 0;
		cursor: default;
		display: none;
		position: absolute;
		top: 45px;
		left: 0;
		background: @white;
		&.shown {
			display: block;
		}
		&.open {
			.translate(0, 0);
			opacity: 1;
		}
		span {
			line-height: 40px;
			display: block;
			&.line {
				margin: 3px auto;
				width: 95%;
				height: 2px;
				background: darken(@silver, 10%);
			}
			&:hover {
				background: @silver;
				i {
					width: 37px;
				}
			}
			i {
				.transition(all 50ms ease-out);
				width: 35px;
				padding-left: 10px;
			}
		}
	}
	.node-dropdown {
		left: 45px;
	}
	span.node-menu {
		left: 45px;
	}
	select {
		width: 275px;
	}
	.chosen-container {
		position: absolute;
		left: 45px + 275px + 15px + 45px;
		top: 0;
		&:not(:last-child) {
			left: 45px + 45px;
		}
	}
}

#nodes {
	position: relative;
	z-index: 2;
	.node {
		padding-bottom: 10px;
		&.template {
			display: none;
		}
		position: absolute;
		border-radius: 3px;
		border: 1px @greenSea solid;
		min-width: 200px;
		.BoxShadowHelper();
		background: @white;
		header {
			background: @turquoise;
			padding: 0 9px;
			text-align: right;
			color: @white;
			height: 20px;
			line-height: 20px;
			span {
				position: relative;
			    top: -2px;
    			font-size: 16px;
			}
		}
		.select {
			position: relative;
			option[default] {
				display: none;
			}
			i {
				position: absolute;
				top: 9px;
				right: 10px;
				pointer-events: none;
			}
		}
		span.line {
			display: block;
			background: @silver;
			height: 2px;
			width: 97%;
			margin: 3px auto;
		}
		.controls {
			padding: 10px 10px 0;
			width: 100%;
			&.hidden {
				display: none;
			}
			.branch-controls {
				width: 100%;
				.clearfix();
				margin-bottom: 10px;
				span {
					display: block;
					width: 50%;
					float: left;
					height: 30px;
					line-height: 30px;
					text-align: center;
					&.add {
						background: @turquoise;
						color: @white;
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px;
					}
					&.remove {
						background: @pomegranate;
						color: @white;
						border-top-right-radius: 3px;
						border-bottom-right-radius: 3px;
					}
				}
			}
			.value {
				.clearfix();
				select {
					width: 18%;
					border-right: none;
				}
				input {
					width: 82%;
					border-left: none;
				}
				select, input {
					float: left;
				}
			}
			span.else {
				text-align: right;
				display: block;
				font-size: 14px;
				height: 35px;
				line-height: 35px;
				border-right: 2px @silver solid;
				padding-right: 5px;
			}
		}
		&.branch {
			.links {
				span.connectTo {
					&:nth-child(3) {
						top: 113px;
					}
					&:nth-child(4) {
						top: 153px;
					}
				}
			}
		}
		.links {
			span.connectFrom, span.connectTo, span.connectFromTrigger {
				position: absolute;
				top: calc(~"50% - 15px");
				display: block;
				.size(15px, 30px);
			}
			span.connectFromTrigger {
				.size(35px, 70px);
				top: calc(~"50% - 35px");
				left: -36px;
			}
			span.connectFrom {
				border-radius: 30px 0 0 30px;
				background: @alizarin;
				left: -16px;
			}
			span.connectTo {
				border-radius: 0 30px 30px 0;
				background: @emerald;
				right: -16px;
			}
		}
		select.nodetype {
			-webkit-appearance: none;
			width: 100%;
			display: block;
			margin: 5px auto 0;
			background: transparent;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 2px @greenSea solid;
			text-transform: uppercase;
			font-size: 14px;
			padding: 2px 3px;
			&:hover, &:active {
				background: @silver;
			}
		}
	}
}

input, textarea, select {
	&:not(:last-child) {
		margin-bottom: 5px;
	}
	&:focus {
		border-color: @turquoise;
	}
	width: 100%;
	display: block;
	-webkit-appearance: none;
	border: 2px @silver solid;
	padding: 5px 5px;
	font-size: 14px;
	height: 35px;
	&::-webkit-input-placeholder, &.placeholder {
		font-size: 14px;
		color: @silver;
	}
	[default] { 
		display: none;
	}
}

textarea {
	min-height: 150px;
}

#status-bar {
	font-weight: 600;
	z-index: 1;
	position: fixed;
	bottom: 15px;
	left: 15px;
	color: @white;
	font-size: 14px;
	.transition(all 500ms ease-out);
	opacity: 1;
	&.hidden {
		opacity: 0;
	}
}

section.tree {
	&.hidden {
		display: none;
	}
}

optgroup {
	font-weight: 600;
}