.modal.project-settings.hidden.invisible
	h2 Project Settings
	label(for="title") Project Title
	input(type="text", data-project-title, name="title")#title
	footer
		span.close
			i.fa.fa-times
			| Save &amp; Close