.modal.variable-settings.hidden.invisible
	h2 Variables
		span.subtitle A project reload is needed for any changes here to take effect.
	label(for="title") Variables
	select(size="10", data-project-variables)
	.side-controls
		span.remove-variable.disabled
			i.fa.fa-times
		span.move-up.disabled
			i.fa.fa-arrow-up
		span.move-down.disabled
			i.fa.fa-arrow-down
	label(for="title") Add new variable
	.control
		span.error.duplicate.hidden Variable name already exists.
		span.error.invalid.hidden Invalid characters in variable name.
		span.error.empty.hidden Variable name cannot be empty.
		input(type="text", data-project-new-variable, placeholder="New Variable")
		select(data-variable-type)
			option(value="int") Int
			option(value="string") String
			option(value="bool") Bool
		span.add-variable
			i.fa.fa-plus
	footer
		span.close
			i.fa.fa-times
			| Close