.modal.variable-settings
	h2 Variables
		span.subtitle A project reload is needed for any changes here to take effect.
	label(for="title") Variables
	select(multiple, data-project-variables)

	footer
		span.close
			i.fa.fa-times
			| Save &amp; Close