section#nodes
	.node.template
		header
			span.remove-node
				i.fa.fa-close
		.select
			i.fa.fa-angle-double-down
			select.nodetype
				option(disabled, selected, default, value="default") Node Type
		.controls
		.links
			span.connectFromTrigger
			span.connectFrom