section#nodes
	.node.template
		header
			span.remove-node
				i.fa.fa-close
		.select
			i.fa.fa-angle-double-down
			select.nodetype
				option(disabled, selected, default, value="default") Node Type
				option(value="text") Text
				//- option(value="choice") Choice
				option(value="set") Set
				option(value="branch") Branch
				//- option(value="node") Node
		.controls(data-type="text").hidden
			input(type="text", data-type="text", data-name, placeholder="Name")
			textarea(data-type="text", data-message, placeholder="Message")
		.controls(data-type="set").hidden
			select(data-variable).placeholder
				option(disabled, selected, default, value="placeholder") Variable
			input(type="text", data-type="set", data-value, placeholder="Value")
		.controls(data-type="branch").hidden
			select(data-type="set", data-variable).placeholder
				option(disabled, selected, default, value="placeholder") Variable
				option(value="var") Variable 1
			.value
				select(data-type="set", data-condition).placeholder
					option(disabled, selected, default, value="placeholder") ?
					option(value="==") ==
					option(value="!=") !=
					option(value=">=") &gt;=
					option(value="<=") &lt;=
					option(value=">") &gt;
					option(value="<") &lt;
				input(type="text", data-type="set", data-value, placeholder="Value")
			span.else Else...
		.links
			span.connectFromTrigger
			span.connectFrom
			span.connectTo