section#nodes
	.node.template
		header
			span.remove-node
				i.fa.fa-close
		.select
			i.fa.fa-angle-double-down
			select.nodetype
				option(disabled, selected, default, value="default") Node Type
				option(value="text") Text
				option(value="set") Set
				option(value="branch") Branch
				//- option(value="choice") Choice
				//- option(value="node") Node
		.controls(data-type="text").hidden
			input(type="text", data-type="text", data-name, placeholder="Name")
			select(data-type="voice", data-voice).placeholder
			textarea(data-type="text", data-message, placeholder="Message")
		.controls(data-type="set").hidden
			select(data-variable-set).placeholder
				optgroup(data-game, label="Game/Progression Variables")
				optgroup(data-attitude, label="Attitude Variables") 
				optgroup(data-custom, label="Custom Variables") 
			input(type="text", data-type="set", data-value, placeholder="Value")
		.controls(data-type="branch").hidden
			select(data-type="set", data-variable-get).placeholder
				optgroup(data-game, label="Game/Progression Variables")
				optgroup(data-attitude, label="Attitude Variables") 
				optgroup(data-custom, label="Custom Variables") 
			.value
				select(data-type="set", data-condition).placeholder
					option(disabled, selected, default, value="placeholder") ?
					option(value="==", data-valid-int, data-valid-string, data-valid-bool) ==
					option(value="!=", data-valid-int, data-valid-string, data-valid-bool) !=
					option(value=">=", data-valid-int) &gt;=
					option(value="<=", data-valid-int) &lt;=
					option(value=">", data-valid-int) &gt;
					option(value="<", data-valid-int) &lt;
				input(type="text", data-type="set", data-value, placeholder="Value")
			span.else Else...
		.links
			span.connectFromTrigger
			span.connectFrom
			span.connectTo