span.menu
	i.fa.fa-bars
	i.fa.fa-times
.dropdown
	span.save-project 
		i.fa.fa-floppy-o
		| Save Project
	//- span.close-project 
	//- 	i.fa.fa-times-circle
	//- 	| Close Project
	span.line
	span.settings
		i.fa.fa-cog
		| Project Settings
	span.variables
		i.fa.fa-pencil-square
		| Project Variables
	//- span.languages
	//- 	i.fa.fa-language
	//- 	| Project Languages
	span.line
	span.node-editor
		i.fa.fa-code
		| Node Editor