span.node-menu
	i.fa.fa-plus
	i.fa.fa-times
.node-dropdown
	span.add-node
		i.fa.fa-plus-circle
		| Add Node
	span.line
	span.tree-settings
		i.fa.fa-plus-square
		| Tree Settings
	span.rename-tree
		i.fa.fa-pencil-square-o
		| Rename Tree