doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Monologue - Branching Dialogue Editor
		link(rel='stylesheet', href='../css/editor.css')
		script(src="../js/editor.js")
	body
		include components/bars/menu-bar
		.draggable(draggable="true")