doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Monologue - Branching Dialogue Editor
		link(rel='stylesheet', href='../css/master.css')
		script(src='../js/greetings.js')
		script(src='../js/chosen.js')
		script(src='../js/App.js')
	body
		.overlay.hidden.invisible
			.modal.project-settings
				h2 Project Settings
				input(type="text", data-project-title)
		#splash.shown
			.content.shown
				h2 
				.buttons
					span.new New Project
					span.open Open Project
			.icon
				i.fa.fa-refresh.fa-spin
		nav#menu-bar
			h1 Monologue - Branching Dialogue Editor
			.controls
				span.close
					i.fa.fa-times
				span.maximize
					i.fa.fa-clone
					i.fa.fa-square-o
				span.minimize
					i.fa.fa-minus
		nav#tool-bar
			span.menu
				i.fa.fa-bars
				i.fa.fa-times
			.dropdown
				span.save-project 
					i.fa.fa-floppy-o
					| Save Project
				span.close-project 
					i.fa.fa-times-circle
					| Close Project
				span.line
				span.settings
					i.fa.fa-cog
					| Project Settings
				span.languages
					i.fa.fa-language
					| Project Languages
			span.node-menu
				i.fa.fa-plus
				i.fa.fa-times
			.node-dropdown
				span.add-node
					i.fa.fa-plus-circle
					| Add Node
			select.trees
				option(data-tree="0") Tree 1
			select.languages
				option English (enUS)
				option French (frCA)
				option Brazilian Portuguese (ptBR)
		section#nodes
			.tree(data-id="0")
				.node(data-id="0")
					header
						span.remove-node
							i.fa.fa-close
					.select
						i.fa.fa-angle-double-down
						select.nodetype
							option(disabled, selected, default) Node Type
							option(value="text") Text
							//- option(value="choice") Choice
							option(value="set") Set
							option(value="branch") Branch
							//- option(value="node") Node
					.controls(data-type="text").hidden
						input(type="text", data-type="text", data-name, placeholder="Name")
						textarea(data-type="text", data-message, placeholder="Message")
					.controls(data-type="set").hidden
						select(data-type="set", data-variable).placeholder
							option(disabled, selected, default, value="placeholder") Variable
							option(value="var") Variable 1
						input(type="text", data-type="set", data-value, placeholder="Value")
					.controls(data-type="branch").hidden
						select(data-type="set", data-variable).placeholder
							option(disabled, selected, default, value="placeholder") Variable
							option(value="var") Variable 1
						input(type="text", data-type="set", data-value, placeholder="Value")
					.links
						span.connectFrom
						span.connectTo
		canvas#canvas