doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Monologue - Branching Dialogue Editor
		link(rel='stylesheet', href='../css/master.css')
		script(src='../js/greetings.js')
		script(src='../js/chosen.js')
		script(src='../js/App.js')
	body
		include components/splash
		include components/modals
		include components/bars
		include components/nodes
		include components/status
		canvas#canvas